.nav {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
    color: #DEEBF8;
}

.nav > img {
    height: 40px;
    width: 40px;
}

.nav > h3 {
    padding: 10px;
    margin-right: auto;
    color: #61DAFB;
}
